body {
background-color: lightsteelblue;
margin:40px 40px 40px 40px;
}


h1 {
 font-family: “Times New Roman”, Times, serif value;
 text-align: center
}
p {
 font-family: Helvetica, Arial, Courier;

}

h2 {
 font-family: “Times New Roman”, Times, serif value;
 text-align: center
}

</body>
</html>
